<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4641907282-aq0jk2qskj1eqb67ekl5q389c6jvk1q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4641907282-aq0jk2qskj1eqb67ekl5q389c6jvk1q8</string>
	<key>API_KEY</key>
	<string>AIzaSyDURJ0arWsT3HMn7xtcnvPu3UUnNLRROfs</string>
	<key>GCM_SENDER_ID</key>
	<string>4641907282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chin.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-943ae</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-943ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4641907282:ios:5dc3094de805460295b58b</string>
</dict>
</plist>